html{
	margin: 0;
	padding: 0;
	font-family: sans-script;
}
body{
	background: url(designer.jpg) no-repeat center center fixed;
	background-size: cover;
}
#main{/*selector de id*/
	width: 90%;
	height: 100%;
	margin: 0 auto;
	padding: 12px;
	background: rgba(100,50,80,0.3);/* red, green, blue, alpha*/
}
h1{
	color: #B22222;/*hex color, adobe color*/
	text-transform: uppercase;
	font-size: 64px;
}

h2{
    color: #F08080/*hex color, adobe color*/
	text-transform: lowercase;
	font-size: 32px;
}
p{
	color: #3743FF;
	font-size: 32px;
}
img{
	width: 100%;
	max-width: 100%;
}
.tagline {

}

.article{
	width: 33%;
	display: inline-block;
}
section{
}
