html{
	margin: 0;
	padding: 0;
	font-family: sans-script;
}
body{
	background: url(background.jpg) no-repeat center center fixed;
	background-size: cover;
}
#main{
	width: 90%;
	height: 1200px;
	margin: 0 auto;
	padding: 12px;
	background: rgba(100,50,80);
}
h1{
	color: #FFC0CB;
}
p{
	color: #3743FF;
}
img{
	width: 100%;
	max-width: 100%;
}
.article1{
}
.article2{
}
.article3{
}
section{
}
